// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

/ {
	model = "Loongson Chiplab NSCSCC board with Gemmont LA32R";
	compatible = "loongson,chiplab-nscscc", "loongson,loongson32";
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		serial0 = &uart0;
		ethernet0 = &gmac0;
		framebuffer0 = &vga0;
		framebuffer1 = &lcd0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=tty0 console=ttyS0,115200 earlycon=uart8250,mmio,0x1fe001e0,115200 cpuclock=100000000 root=/dev/nfs rw nfsroot=172.25.2.193:/srv/gemmont-rootfs-v031-ablation,vers=3,tcp ip=172.25.2.56:172.25.2.193:172.25.2.254:255.255.255.0:gemmont:eth0:off";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "loongson,la32r";
			reg = <0>;
			status = "okay";
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x08000000>;
	};

	cpuic: interrupt-controller {
		compatible = "loongson,cpu-interrupt-controller";
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	soc@10000000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x10000000 0x10000000 0x10000000>;

		uart0: serial@1fe001e0 {
			compatible = "ns16550a";
			reg = <0x1fe001e0 0x10>;
			clock-frequency = <33000000>;
			current-speed = <115200>;
			interrupt-parent = <&cpuic>;
			interrupts = <3>;
			reg-shift = <0>;
			reg-io-width = <1>;
			no-loopback-test;
		};

		confreg: confreg@1fd0f000 {
			compatible = "loongson,chiplab-confreg";
			reg = <0x1fd0f000 0x24>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-line-names = "switch0", "switch1", "switch2",
					  "switch3", "switch4", "switch5",
					  "switch6", "switch7";
		};

		vga0: framebuffer@1d010000 {
			compatible = "xlnx,xps-tft-2.00.a";
			reg = <0x1d010000 0x1000>;
			xlnx,dcr-splb-slave-if = <1>;
			/*
			 * xilinxfb's defaults are the required 640x480 mode
			 * with a 1024x480 backing store.  Its legacy property
			 * parser does not endian-convert resolution cells.
			 */
		};

		ps2: ps2@1d020000 {
			compatible = "altr,ps2-1.0";
			reg = <0x1d020000 0x1000>;
			interrupt-parent = <&cpuic>;
			interrupts = <7>;
		};

		lcd0: framebuffer@1d030000 {
			compatible = "superscalarcrash,chiplab-nt35510";
			reg = <0x1d030000 0x1000>;
			width = <480>;
			height = <800>;
		};

		gmac0: ethernet@1ff00000 {
			compatible = "loongson,chiplab-dmfe";
			reg = <0x1ff00000 0x10000>;
			interrupt-parent = <&cpuic>;
			interrupts = <2>;
			local-mac-address = [00 98 76 64 32 19];
			phy-mode = "rgmii";
		};

		dma0: dma-controller@1fd01160 {
			compatible = "loongson,chiplab-apbdma",
				     "loongson,ls1b-apbdma";
			reg = <0x1fd01160 0x4>;
			interrupt-parent = <&cpuic>;
			interrupts = <6>;
			interrupt-names = "ch0";
			#dma-cells = <1>;
		};

		nand_controller: nand-controller@1fe78000 {
			compatible = "loongson,chiplab-nand-controller",
				     "loongson,ls1c-nand-controller";
			reg = <0x1fe78000 0x24>,
			      <0x1fe78040 0x4>;
			reg-names = "nand", "nand-dma";
			dmas = <&dma0 0>;
			dma-names = "rxtx";
			#address-cells = <1>;
			#size-cells = <0>;

			nand@0 {
				reg = <0>;
				label = "chiplab-nand";
				nand-use-soft-ecc-engine;
				nand-ecc-algo = "hamming";
				nand-ecc-strength = <1>;
				nand-ecc-step-size = <256>;

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;

					partition@0 {
						label = "kernel";
						reg = <0x00000000 0x01400000>;
						read-only;
					};

					partition@1400000 {
						label = "ubi";
						reg = <0x01400000 0x06c00000>;
					};
				};
			};
		};
	};
};
